<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/submit" method="POST" >
    <div class="form-group">
      <label for="">Add Title</label>
 <input type="text" class="form-control" name="title">
 </div>
 <div class="form-group">
        <label for="">Share your Thoughts</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="thoughts"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Share</button>
    </form>

<%- include("partials/footer") %>