<%- include("partials/header") -%>
<div class="join">
    <div class="hh">
        <h2>Join us in Our Journey</h2>
    </div>
    <div class="pp">
     <p>
        
  We invite you to join us on this exciting journey of exploration, learning, and growth within the world of AgonyMother. Feel free to explore our blog and engage with our content. We love hearing from our readers, so don't hesitate to reach out, share your thoughts, or suggest topics you'd like us to cover.

  Thank you for visiting AgonyMother and being a part of our community. We look forward to sharing our passion and knowledge with you!
     </p>
    </div>
    <div class="xxx">
        <div class="formm">
            <form action="/form-submit" method="POST">
               
                <div class="formss">
                  <label class="compose1" for="title">Your email</label>
                  <input type="text" class="form1" id="title" name="email">
                </div>
                <div class="formss">
                  <label class="compose2" for="thoughts">Add Comments</label>
                  <textarea class="form5" id="thoughts" name="thoughts"></textarea>
                </div>
                <button type="submit" class="btn2">Publish</button>
              </form>
        </div>
    </div>
   
    </div>













<!-- <%- include("partials/footer") %> -->