<%- include("partials/header") -%>
<div class="divv">
  <div class="headd">Start your Journey with Us!!</div>
  <div class="container1">
    <div class="title">Registration</div>
    <form action="/register" method="POST">
      <div class="user__details">
        <div class="input__box">
          <span class="details">Full Name</span>
          <input type="text" placeholder="E.g: John Smith" name="fullname" />
        </div>
        <div class="input__box">
          <span class="details">UserName</span>
          <input type="text" placeholder="Username" name="username" />
        </div>
        <div class="input__box">
          <span class="details">Email</span>
          <input
            type="email"
            placeholder="johnsmith@hotmail.com"
            name="email"
          />
        </div>
        <div class="input__box">
          <span class="details">Age</span>
          <input type="number" placeholder="Write your age" name="age" />
        </div>
        <div class="input__box">
          <span class="details">Password</span>
          <input type="password" placeholder="********" name="password" />
        </div>
        <div class="input__box">
          <span class="details">Confirm Password</span>
          <input
            type="password"
            placeholder="********"
            name="confirmpassword"
          />
        </div>
      </div>

      <div class="button">
        <input type="submit" value="register" />
      </div>
    </form>
  </div>
</div>
