@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navcontainer-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.text{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: bolder;
}
.logo{
  height: 30px;
  width: 30px;
}
.logo1{
  height: 40px;
  width: 40px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
   padding-left: 5px;
   padding-right: 5px;
   font-weight:500;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
body{
    background-color: #a9cedb;
}
 /* home */
 .container{
  
  height: fit-content;
  /* //padding-top: 15px; */
  margin: 0;
  padding-left: 0;
 }
 .maindiv{
  position: absolute;
 }
 .notebook{
  height: 90vh;
  width: 100vw;
  
  position: absolute;
 }
.head{
  width: 25%;
  position: relative;
  margin-top: 15%;
 margin-left: 55%;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: x-large;
}
.shares{
  
  position: relative;
  margin-top: 20%;
  padding-left: 20px;
}
.kk{
  display: flex;
  flex-direction: row;
  gap:8px;
}
.your{
  font-family: "Edu AU VIC WA NT Hand", cursive;
}

.icon1{
  height: 60px;
  width: 50px;

}
.blogHead{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  
}
.a{
  text-decoration: none;
  color: inherit;
}
.a:hover {
  text-decoration: none; /* Underline on hover */
  color:inherit;
  
}
.blogContent{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}
.butt{
  padding: 4px;
  border-radius: 10px;
  
}

/* responsive home */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  
  
}
/* about us */
.mission{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}
.mi{
  height: 700px;
  
}

.our{
  font-family: Raleway, sans-serif;
  font-size: xx-large;
}
.our1{
  font-family: Raleway, sans-serif;
  font-size: larger;
  padding-right: 30px;
}
.who{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
}
.l{
  width: 45%;
}
.l-head{
  font-family: Raleway, sans-serif;
  font-size: xx-large;
  padding: 5px;

}
.l-para{
  font-family: Raleway, sans-serif;
  font-size: larger;
}
.join{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hh{
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-size: xx-large;
  
}
.pp{
  width: 70%;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: larger;

}
/* //login css */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* body {
  background: #c0c0c0; 
  font-family: Raleway, sans-serif;
  color: #666;
} */
.div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 30px;
  margin-right: 12%;
}
.login {
  margin: 20px auto;
  padding: 40px 50px;
  width: 500px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: Raleway, sans-serif;
  }

.login input[type=text],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=text]:hover {
  border-color:  #9b59b6;
  outline: none;
  transition: all .2s ease-in-out;
} 

.login input[type=submit] {
  border: none;
  background: #9b59b6;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background:  #9b59b6;  
}

  .login h2 {
    margin: 20px 0 0; 
    color: #9b59b6;
    font-size: 28px;
  }

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

  .login h2,
  .login p,
  .login a {
    text-align: center;    
  }

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

/* register */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.container1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

.container1 {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container1 .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container1 .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}

.container1 form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .button {
  height: 45px;
  margin: 45px 0;
}
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--main-grey);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user__details .input__box input:focus,
.user__details .input__box input:valid {
  border-color: var(--main-purple);
}
.divv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headd{
  font-family:Raleway, sans-serif;
  font-size: xx-large;
  padding: 30px;
}
/* inside the form gender details */

form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

/* compose */
.container2{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.lll{
  width: 45%;
}
.rrr{
  width: 55%;
}
.cc{
  font-family:Raleway, sans-serif ;
  font-size: x-large;
  padding-bottom: 20px;
}
.compose{
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}
.com{
  text-align: center;
  font-family:Raleway, sans-serif ;
  font-size: xx-large;
  padding: 15px;
}
.compose-title{
  font-family:Raleway, sans-serif ;
  font-size: larger;
}
.boxx{
  border: 1px solid grey;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px #666;
  height: 400px;
}
.form-control{
  padding: 35px;
}
.btn1{
  background-color: #71b7e6;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  font-family:Raleway, sans-serif ;
  font-size: medium;
  border: 2px #71b7e6 solid;
  
  
}

/* contact */

.formss{
  display: flex;
  flex-direction: column;
  padding: 2px;
  
}

.formm{
padding: 20px;
border: 2px solid rgb(166, 163, 163) ;
width: 400px;
height: 300px;

  box-shadow: 1px 1px 1px #666;
}
.form1{
  padding: 10px;
}
.form5{
  padding: 25px;
}
.btn2{
  margin-top: 20px;
  background-color: #71b7e6;
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  border: 0;
  font-size: 17px;
}
.xxx{
  padding: 25px;
}
.compose1{
  padding: 2px;
}
.compose2{
  padding: 2px;
}